body{
    text-align: center;
    font-family: "Arial";
    color:red;
    font-size: 16px;
    margin:0;
    padding: 0;
}
#contenedor
{
    width: 70%;
    padding: 1em;
    text-align:left;
    border:1px solid;
    margin:0 auto;
}
#contenedor h1
{
    font-size: 20px;
}
#cabecera
{
    color:black;
}